{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>{% block html-title %}{% endblock %} - Portal EDGE</title>
        <meta charset="utf-8" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Language" content="pt-br" />
        <meta name="author" content="OS3 Soluções Em Tecnologia da Informação">
        <meta name="keywords" content="GoodLab" />
        <meta name="description" content="GoodLab" />
        {% block meta %}{% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap4/css/bootstrap.min.css' %}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome5/css/all.min.css' %}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" media="screen"/>
        {% block style %}
        {% endblock %}

        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

        {% block extra-head %}{% endblock %}
    </head>
    <body>
         {% include "include/header.html" %}
         <section {% block bg-content %}class="bg-image"{% endblock %}>
             <div class="container py-5">
                 {% block content %}{% endblock %}
             </div>
          </section>
          {% include "include/footer.html" %}
          <script src="{% static 'bootstrap4/js/bootstrap.min.js' %}"></script>
          {% block scripts %}
          {% endblock %}
    </body>
</html>
